* {
    box-sizing: border-box;
    padding: 10px;
}

#annotation-converter-form {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-input {
    padding: 0;
    padding: 10px;
    margin-left: 0;
    justify-content: space-between;
    text-wrap: nowrap;
}

.form-submit {
    width: 100%;
    text-align: center;
}